body {
  color: #003d99;
  background-color: #f3f6fa;
}
.navbar {
  padding: 0;
  margin-bottom: 35px;
}
.navbar-brand {
  color: #003d99;
}
.navbar-nav {
  padding-right: 8%;
}
.nav-item {
  padding: 0 2%;
}
.nav-link {
  color: #003d99;
}
.nav-link:hover {
  color: rgb(255, 217, 0);
}
.title {
  background-color: white;
  color: #003d99;
}
.container-fluid {
  padding: 0.5% 9%;
}

.title-heading h1 {
  font-size: 52px;
}
.title-para {
  color: gray;
  padding: 3% 0;
}
.title-image {
  text-align: center;
}

#about {
  background-color: #003d99;
}
.about-photo {
  width: 55%;
  border-radius: 100%;
  padding: 8% 0;
}
.about-text {
  text-align: center;
  color: white;
  padding: 7% 0%;
}
.about-text p {
  padding: 7% 0;
}

#skills {
  text-align: center;
}

#skills h2 {
  padding: 3%;
}

#skills i {
  color: #003d99;
  padding: 3%;
}

#skills p {
  font-size: 1.5rem;
  padding-top: 7%;
}
.carousel-inner {
  border-radius: 5%/10%;
}

#project {
  text-align: center;
}
#project h2 {
  margin-top: 5%;
  margin-bottom: 2%;
}
.project-card {
  text-align: center;
}
.border {
  border-radius: 3%;
}
.carousel-item {
  background-color: white;
  padding: 4%;
}
.carousel-control-prev-icon {
  padding: none;
  color: rgb(255, 217, 0);
  background-color: rgb(196, 222, 252);
}
.carousel-control-next-icon {
  padding: none;
  color: rgb(255, 217, 0);
  background-color: rgb(196, 222, 252);
}
.project-title {
  color: rgb(255, 217, 0);
  text-align: left;
  padding: 10%;
  padding-right: 1%;
}
.project-title p {
  color: gray;
  padding-top: 3%;
}
.project-image {
  padding: 3%;
}
.project-button {
  background-color: #003d99;
  color: white;
  border-radius: 18%;
  margin-top: 3%;
  margin-left: 15%;
}
.project-button:hover {
  color: rgb(255, 217, 0);
}

#testimonial {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}
#testimonial h2 {
  margin-bottom: 4%;
}
.card-body {
  text-align: left;
  padding: 8%;
}

.testimonial-icon {
  color: rgb(255, 217, 0);
}
.testimonial-photo1 {
  text-align: center;
}
.testimonial-photo {
  width: 40%;
  border-radius: 100%/100%;
  padding-top: 8%;
  padding-bottom: 4%;
  text-align: center;
}
#footer {
  text-align: center;
  padding: 2%;
  padding-top: none;
  background-color: #d9e5f8ea;
  margin-top: none;
  color: #003d99;
}
#footer a {
  padding: 2% 2%;
  color: #003d99;
}
#footer a:hover {
  color: rgb(255, 217, 0);
}
#footer p {
  padding-top: 2%;
}

.copy {
  padding-top: none;
}

@media (max-width: 993px) {
  .title-heading {
    text-align: center;
  }
  .about {
    text-align: center;
  }
  .photo {
    text-align: center;
  }
  .project-title {
    text-align: center;
  }
  .project-title p {
    padding-right: 3%;
  }
  .project-button {
    margin-right: 16%;
  }
}
.circle {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: rgb(255, 217, 0);
}
